#root {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.App-header {
  font-size: 6vw;
  padding: 5vw;
}

.grid-wrap {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.sudoku-board {
  border: 2px solid #333;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sudoku-row {
  display: flex;
  width: 100%;
}

.sudoku-cell {
  width: 11.11%;
  height: calc(90vw / 9);
  box-sizing: border-box;
  text-align: center;
  font-size: 4vw;
  border: 1px solid #ccc;
  line-height: calc(90vw / 9);
}

@media (min-width: 670px) {
  .sudoku-board {
    width: 650px;
  }

  .sudoku-cell {
    height: calc(670px / 9);
    font-size: calc(670px / 30);
    line-height: calc(670px / 9);
  }

  .App-header {
    font-size: 50px;
    padding: 20px;
  }
}

.sudoku-cell:focus {
  outline: none;
  border: 1px solid rgb(0, 254, 68);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.btn {
  display: grid;
  place-items: center;
  margin-top: 2vw;
  background: #e3edf7;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.App-footer {
  align-self: flex-end;
  margin-bottom: 5%;
}

.github {
  margin: auto;
}

#btn-wrapper {
  display: flex;
  justify-content: space-around;
}
